
@import"helpers/settings.scss";
@import "helpers/TextElements.scss";
@import "./helpers/generics.scss";
@import "helpers/elements.scss";
@import "helpers/tools.scss";

@import "../components/header/header.scss";
@import "../components/speakPlate/speakPlate.scss";
@import "../apps/indexPage/specialsPlate/specialsPlate.scss";
@import "../apps/indexPage/indexVid/indexVid.scss";
@import "../components/shopPlate/shopPlate.scss";
@import "../apps//indexPage/indexShop/indexShop.scss";
@import "../apps/shopPage/shopIntro/shopIntro.scss";
@import "../apps/shopPage/shopMain/shopMain.scss";
@import "../components/footer/footer.scss";
@import "../apps/videosPage/searchBar/searchBar.scss";
@import "../apps/videosPage/videoHolder/VideoHolder.scss";
@import "../components/paralaxImage/paralaxImage.scss";
@import "../apps/videosPage/videoNav/videoNav.scss";



html, body {
    height: 100%;
    background: #ffffff;
    margin: 0;
    padding: 0;
}