@import '../../sass/generics.scss';
@import '../../sass/settings.scss';
@import '../../sass/tools.scss';


.intro {
	transition: all 1.5s ease-in-out;
	//box-shadow: $pureBlack 0 1px 10px 0px;
	margin: 0;
	border-radius: 10px;
	padding: 50px 100px;
	width: 100%;
	box-shadow: $pureBlack 0 1px 10px 0px;

	p {
		@include fontSettings($conColor, 24px, 300, 1.5);
		margin-bottom: 30px;
	}

	img {
		width: 500px;
		margin-bottom: 30px;
	}

    @media(max-width: 1060px) {
		width: 100%;
	}
	
    @media(max-width: 600px){
		padding: 0px 20px 50px;
		border-radius: 0;
		p {
			font-size: 20px;
		}
		
		img {
			width: 300px;
		}
    }
}
