@import '../../sass/generics.scss';
@import '../../sass/settings.scss';
@import '../../sass/tools.scss';


.box {
	transition: all 1.5s ease-in-out;
	//box-shadow: $pureBlack 0 1px 10px 0px;
	background: $gradientColor;
	width: 100%;
	box-shadow: $pureBlack 0 1px 10px 0px;

	p {
		@include fontSettings($conColor, 28px, 400, 1.5);
		//margin-bottom: 30px;
	}

	img {
		width: 500px;
		//margin-bottom: 30px;
	}

    @media(max-width: 1060px) {
		width: 100%;
	}
	
    @media(max-width: 600px){
		padding: 50px 20px;
		box-shadow: none;
		border-radius: 0;
		p {
			font-size: 23px;
		}
		
		img {
			width: 300px;
		}
    }
}

.portbox {
	//height: 50px;
	background: $gradientColor;
}