@import '../../sass/settings.scss';
@import '../../sass/generics.scss';
@import '../../sass/tools.scss';

.special_holder {


    .spec_card_set {
        @include dimensions(48.85%, 300px, 10px);
        &:nth-child(1){margin: 0 10px 10px 0}
        &:nth-child(2){margin: 0 0 10px 10px}
        &:nth-child(3){margin: 10px 10px 0 0}
        &:nth-child(4){margin: 10px 0 0 10px}
    }

    .holder_card_set {
        @include dimensions(100%, 300px, 10px);
    }

    @media (max-width: 1670px) {
        .spec_card_set {
            @include dimensions(47.85%, 250px, 10px);
        }
        .holder_card_set {
            height: 250px
        }
    }

    @media (max-width: 1000px) {
        .spec_card_set {
            @include dimensions(100%, 300px, 10px);
            &:nth-child(1){margin: 10px 0}
            &:nth-child(2){margin: 10px 0}
            &:nth-child(3){margin: 10px 0}
            &:nth-child(4){margin: 10px 0}
        }
        .holder_card_set {
            height: 300px
        }
    }
    @media (max-width: 600px) {
        .spec_card_set, .holder_card_set { 
            height: 200px
        }
    }
}