@import '../../sass/generics.scss';
@import '../../sass/settings.scss';
@import '../../sass/tools.scss';


.option {
    padding: 0px 40px 0px 80px;
    background: linear-gradient(306deg, rgba(97,0,255,1) 0%, rgba(255,38,67,1) 100%);
    box-shadow: 0 2px 5px 2px;
    transition: all 0.15s linear;
    h3 {color: $pureWhite}

    &:hover {
        box-shadow: $primeOrange 0 2px 20px 2px;
        h3 {color: $primeOrange}
        svg {color: $primeOrange}
    }
    svg {
        transition: all 0.2s ease-in-out;
        @include dimensions(70px, 70px, 0);
        color: $pureWhite;
        padding: 0;
    }
    @media (max-width: 600px) {
        padding: 0px 10px 0px 20px;
    }
}

.op-off {
    svg{transform: rotate(0deg)}
    .obj-holder{
        height: 0;
        transition: all 0.35s ease-in-out 0.35s;
    }
}

.op-on {
    svg{transform: rotate(180deg)}
    .obj-holder{
        height: 500px;
        transition: all 0.35s ease-in-out 0.35s;
        @media (max-width: 1085px) {
            height: 60px;
        }
    }
}