@import '../../sass/generics.scss';
@import '../../sass/settings.scss';
@import '../../sass/tools.scss';

.spec_card {
    transition: all 0.35s linear;

    p, h1, div { transition: all 0.25s linear }

    span { transition: all 0.35s linear }

    .text_holder { transform: scale(0) }

    p { opacity: 0 }

    &:hover{
        box-shadow: $primeOrange 3px 1px 10px 0px;
        transform: scale(1.025);
         
        .screen_holder div {
            transform: translateY(95px);
            opacity: 0;
        } 
        .screen { transform: translate(75%, 40%)rotate(-35deg) }
        .text_holder { transform: scale(1) }
        p { opacity: 1 }       
    }

    @media(max-width: 1400px){
        &:hover{
            .screen_holder div {
                transform: translateY(70px)
            }
        }
    }
    @media(max-width: 1000px){
        &:hover{
            .screen_holder div {
                transform: translateY(90px)
            }
        }
    }
        
    @media(max-width: 600px){
        &:hover{
            .screen_holder div {
                transform: translateY(60px)
            }
        }
    }
}