@import './animations.scss';

.spec_card {
    box-shadow: $pureBlack 0 1px 10px 0px;
    .text_holder { 
        padding: 25px 
    }
    .screen_holder div{  
        h2 {
            @include fontSettings($pureWhite, 32px, 400, 1);
            margin-right: 12px;
        }
        svg { 
            width: 50px 
        }
    }
    p { 
        @include fontSettings($pureWhite, 24px, 400, 1.25) 
    }
    .screen { 
        @include dimensions(60em, 30em, 0) 
    }

    @media(max-width: 1450px){ 
        p { 
            font-size: 22px 
        } 
    }
    @media(max-width: 1000px){
        .featured_cards { 
            margin: 0px 0 100px 
        }
        p { 
            font-size: 26px 
        }  
    }
    @media(max-width: 600px){
        .text_holder {
            padding: 20px;
        }
        .screen_holder div {
            padding: 25px;   
        }
        p {
            font-size: 20px;
        }
    }   
}
