@import './animations.scss';

.port_holder {
    margin: 0px 0 0;


    .switch_holder {
        height: 50%;
    }

    .port_wrap {
        flex-wrap: wrap;
        justify-content: space-between;
    }

 

    @media(max-width: 1150px) {
        margin-top: 0px;
    }
}  

.port_box {
    padding: 0;
}


