@import '../../../styles/generics.css';
@import '../../../styles/settings.css';
@import '../../../styles/tools.css';

.inpholder {
    @apply --flx--e;
    margin: 20px 0;
    size: 100% 52px;
    z-index: 4;
    h4 {
        position: absolute;
        margin: -10px 0 0;
        @mixin fontSettings var(--pureWhite), 28px, 400, 1;
    }
    
    &_input {
        @mixin fontSettings var(--pureWhite), 24px, 300, 1;
        border: 0 0 3px 0 /solid/ var(--pureWhite);
        padding: 0 0 0 150px;
        size: 100% 52px;

        &:focus {
            border-color: var(--primeOrange);
            color: var(--primeOrange);
        }
    }
    @media(max-width: 600px) {
        label { font-size: 22px }
        input { font-size: 20px }
        margin: 0;
    }
}