@import '../../../sass/generics.scss';
@import '../../../sass/settings.scss';
@import '../../../sass/tools.scss';


.h1 {
    @include fontSettings($pureWhite, 56px, 300, 1.25);
    margin-bottom: 20px;
    @media(max-width:1060px) {
        font-size: 40px
    }
    @media(max-width: 600px){
        font-size: 36px;
    }
}

.h2 {
    @include fontSettings($pureWhite, 40px, 300, 1);
    @media(max-width: 600px) {
        font-size: 32px;
    }
}

.h3 { @include fontSettings($pureWhite, 32px, 300, 1) }

.p {
    @include fontSettings($pureWhite, 36px, 400, 1.35);
    @media(max-width: 600px){   
        font-size: 23px;
    }
}


.li {
    a  {@include fontSettings($pureWhite, 32px, 300, 1) }
    @media(max-width: 1000px) {
       a { font-size: 24px } 
    }
}
