@import '../../../styles/tools.css';
@import '../../../styles/settings.css';
@import '../../../styles/generics.css';

@define-mixin hover $s-height, $t-height, $t-opac, $delay, $ease {
    .project {
        transition: all 0.45s $ease;
        &_screen {
            height: $s-height;
            transition: all 0.45s $ease;
        }
        &_text {
            transition: all 0.45s $ease;
            span {
                height: auto;
                max-height: $t-height;
                transition: all 0.45s $ease;
            }
            h4, p {
                opacity: $t-opac;
                transition: all 0.15s linear $delay;
            }
        }
    }
}

.project:hover {
    @mixin hover 25%, 200px, 1, 0.4s, ease-out;
    @media (--ipad-l) {
        /*@mixin hover 25%, 108px, 1, 0.4s, ease-out;*/
    }
}
.project {
    @mixin hover 100%, 0, 0, 0s, ease-in;
}





