@import './sass/tools.scss';
@import './sass/settings.scss';

.fade-in-r {
    animation: in-r 0.45s linear;
    animation-fill-mode: forwards;
}
.fade-out-r {
    animation: out-r 0.45s linear;
    animation-fill-mode: forwards;
}

.fade-in-l {
    animation: in-l 0.45s linear;
    animation-fill-mode: forwards;
}
.fade-out-l {
    animation: out-l 0.45s linear;
    animation-fill-mode: forwards;
}

@keyframes in-l {
    0% {
        transform: translate(-200px, 0) scale(0.95);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}

@keyframes in-r {
    0% {
        transform: translate(200px, 0) scale(0.95);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}

@keyframes out-l {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-200px, 0) scale(0.95);
        opacity: 0;
    }
}

@keyframes out-r {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(200px, 0) scale(0.95);
        opacity: 0;
    }
}



.port_holder {
    margin: 100px 0 0;

    .switch_holder {
        height: 300px;
    }

    .featured_holder .button_holder {
        button {
          @include dimensions(250px, 100px, 10px);
          background: linear-gradient(306deg, rgba(97,0,255,1) 0%, rgba(255,38,67,1) 100%);
          margin: 20px 10px;

          &:hover {
            box-shadow: $primeOrange 0px 1px 10px 0px;
          }
        }
    }

    padding: 0px 300px ;
    @media(max-width: 1650px) {
        padding: 0px 250px;
    }
    @media(max-width: 1350px) {
        padding: 0px 150px;
    }
    @media(max-width: 1150px) {
        padding: 0px 100px;
    }
    @media(max-width: 1000px) {
        padding: 0px 75px;
    }

    .featured_cards {
        &:nth-child(1){
            img {  
                @include placement(600px, -60px, -150px)
                }
            }
        &:nth-child(2){
            img {
                @include placement(395px, -40px, -25px)
            }
        }
        &:nth-child(3){
            img{
                @include placement(395px, 0, 0)
            }
        }
        &:nth-child(4){
            img {  
                @include placement(600px, -60px, -150px)
                }
            }
        &:nth-child(5){
            img {
                @include placement(395px, -40px, -25px)
            }
        }
        &:nth-child(6){
            img{
                @include placement(395px, 0, 0)
            }
        }
        &:nth-child(7){
            img {  
                @include placement(600px, -60px, -150px)
                }
            }
        &:nth-child(8){
            img {
                @include placement(395px, -40px, -25px)
            }
        }
        &:nth-child(9){
            img{
                @include placement(395px, 0, 0)
            }
        }
        &:nth-child(10){
            img {  
                @include placement(600px, -60px, -150px)
                }
            }
        &:nth-child(11){
            img {
                @include placement(395px, -40px, -25px)
            }
        }
        &:nth-child(12){
            img{
                @include placement(395px, 0, 0)
            }
        }
    }
}

.port_card {
    margin: 20px 0 20px;
}

