@mixin flexBox($direct, $just, $align){
    display: flex;
    flex-direction: $direct;
    justify-content: $just;
    align-items: $align;
}

.row{
    display: flex;
    flex-direction: row;
    @media(max-width:768px){
        flex-direction: column;
    } 
}

.row-even{
    @include flexBox(row, space-evenly, inherit);

    @media(max-width:768px){
        @include flexBox(column, inherit, center);
    }
}

.row-between{
    @include flexBox(row, space-between, inherit);

    @media(max-width:768px){
        @include flexBox(column, inherit, center);
    }
}

.column{
    @include flexBox(column, inherit, center);
}