@import '../sass/settings.scss';
@import '../sass/generics.scss';
@import '../sass/tools.scss';

.nav-down {transform: translateY(0)}
.nav-up {transform: translateY(-70px)}
.list-in li a {opacity: 1; transition: none}
.list-out li a {opacity: 0; transition: all 0.25s linear}
.h-in {opacity: 1; transition: all 0.45s linear }
.h-out {opacity: 0; transition: all 0.45s linear}

.nav-off {
    height: 72px; //!important
    button {
        span {
            animation-duration: 0.35s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            &:nth-child(1) {animation-name: top-out}
            &:nth-child(2) {animation-name: mid-out}
            &:nth-child(3) {animation-name: bot-out}
        }
    }
    ul {
        transition: all 0.35s ease-in 0.1s;
        height: 0%;
        li{
            transform: translateY(-100px);
            opacity: 0;
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                  transition: all 0.15s linear #{.25 / $i}s;
                }
            }
        }
    }
}

.nav-on {
    height: 100%; //!important
    button {
        span {
            animation-duration: 0.35s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            &:nth-child(1) {animation-name: top-in}
            &:nth-child(2) {animation-name: mid-in}
            &:nth-child(3) {animation-name: bot-in}
        }
    }
    ul {
        transition: all 0.35s ease-in;
        height: 100%;
        li{
            transform: translateY(0px);
            opacity: 1;
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                  transition: all 0.15s linear #{0 + ($i * .1)}s;
                }
            }
        }
    }
}

@keyframes top-in {
    0%{transform: translateY(0)}
    50%{transform: translateY(13px)}
    100%{opacity: 0}
}


@keyframes mid-in {
    0%{transform: translateY(0)}
    50%{transform: translateY(0px)}
    100%{transform: rotate(45deg)}
}


@keyframes bot-in {
    0%{transform: translateY(0)}
    50%{transform: translateY(-13px)}
    100%{transform: rotate(-45deg)translate(10px, -9px)}
}

@keyframes top-out {
    0%{
        transform: translateY(13px);
        opacity: 0;
    }
    50%{transform: translateY(13px)}
    100%{transform: translateY(0)}
}


@keyframes mid-out {
    0%{transform: rotate(45deg)}
    50%{transform: rotate(0)}
    100%{transform: translateY(0)}
}


@keyframes bot-out {
    0%{transform: rotate(-45deg)translate(10px, -9px)}
    50%{transform: rotate(0) translateY(-13px)}
    100%{transform: translateY(0)}
}

.load {
    transition: all 0.5s ease-in-out;
    width: 300px;
}
.load-out {
    opacity: 0;
    transform: rotate(0deg);
}
.load-on {
    opacity: 1;
    transform: rotate(0deg);
    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            transform: rotate(72deg * $i);
        }
    }
    &:nth-child(6) {
        position: absolute;
        width: 100px;
    }
}