@import '../sass/settings.scss';
@import '../sass/generics.scss';
@import '../sass/tools.scss';

.nav-down {transform: translateY(0)}
.nav-up {transform: translateY(-70px)}
.list-in li a {opacity: 1; transition: none}
.list-out li a {opacity: 0; transition: all 0.25s linear}
.h-in {opacity: 1; transition: all 0.45s linear }
.h-out {opacity: 0; transition: all 0.45s linear}

@mixin navTransitions ($delay, $add, $num, $trans, $opac, $left) {
    ul{
        transition: all 0.35s linear $delay;
        top: $left;
        li{
            transform: translateY($trans);
            opacity: $opac;
            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    transition: all 0.15s linear #{($add + (0.1 * $i)) * $num}s;
                }
            }
        } 
    }
}

@mixin buttonAnimations ($anim1, $anim2, $anim3) {
    button {
        span {
            animation-duration: 0.35s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            &:nth-child(1) {animation-name: $anim1}
            &:nth-child(2) {animation-name: $anim2}
            &:nth-child(3) {animation-name: $anim3}
        }
    }
}

.nav-off {
    @include navTransitions(0.45s, -0.4, -1, -100px, 0, -100%);
    @include buttonAnimations(top-out, mid-out, bot-out);
}

.nav-on {
    @include navTransitions(0s, 0.25, 1, 0px, 1, 0);
    @include buttonAnimations(top-in, mid-in, bot-in)
}

@keyframes top-in {
    0%{transform: translateY(0)}
    50%{transform: translateY(13px)}
    100%{opacity: 0}
}


@keyframes mid-in {
    0%{transform: translateY(0)}
    50%{transform: translateY(0px)}
    100%{transform: rotate(45deg)}
}


@keyframes bot-in {
    0%{transform: translateY(0)}
    50%{transform: translateY(-13px)}
    100%{transform: rotate(-45deg)translate(10px, -9px)}
}

@keyframes top-out {
    0%{
        transform: translateY(13px);
        opacity: 0;
    }
    50%{transform: translateY(13px)}
    100%{transform: translateY(0)}
}


@keyframes mid-out {
    0%{transform: rotate(45deg)}
    50%{transform: rotate(0)}
    100%{transform: translateY(0)}
}


@keyframes bot-out {
    0%{transform: rotate(-45deg)translate(10px, -9px)}
    50%{transform: rotate(0) translateY(-13px)}
    100%{transform: translateY(0)}
}



@for $i from 1 through 5 {
    .load {
        transition: all 0.5s ease-in-out;
        &:nth-child(#{$i}) {
            width: 300px;
        }
        &:nth-child(6) {
            position: absolute;
            width: 170px;
        }
    }
    .load-out {
        opacity: 0;
        transform: rotate(0deg);
    }

    .load-on {
        width: 300px;
        opacity: 1;
        transform: rotate(0deg);
        &:nth-child(#{$i}) {
            transform: rotate(72deg * $i);
            
        &:nth-child(6) {
            position: absolute;
            width: 50px;
        }
    }
    }
}