@import './animations.scss';


header {
    margin: 0 0 0px;
    height: 350px;  
    h1 {
        @include fontSettings($pureWhite, 32px, 600, 1);
        margin: 0;
    }
    .screen {
        @include border(#8a8a8a, 0 0 1px 0);
        box-shadow: 0 2px 4px 0px;
        background: #22252a;
    }
    ul {
        background: #22252a;
        z-index:4;
        .li {
            width: 100%;
            text-align: center;
            &:nth-child(1) { margin-top: 200px }
            a {
                @include fontSettings($pureWhite, 42px, 400, 2.5);
                //transition: all 0.05s linear;
            }
            &:hover {
                a {
                    color: $primeOrange;
                }
            }
        }
    }
    nav {
        transition: all 0.35s ease-in-out;
    }
    @media(max-width: 1350px) {
        height: 300px;
        nav { top: 50px }
    }
    @media(max-width: 1000px) {   
        nav { top: 0 }
    }
    @media(max-width: 600px) {
        height: 500px;
        nav { 
            height: 72px;
            z-index: 5;
        }
        h1 { margin: 10px 0 0 }
        ul .li {
        &:nth-child(1) { margin-top: 120px }
            a {
                line-height: 1.75;
            }
        }     
    }
}


