@import '../../../../styles/settings.css';
@import '../../../../styles/generics.css';
@import '../../../../styles/tools.css';

.pictures {
    @apply --col--e;
    width: 50%;
    z-index:5;
    &_wrap, &_loading { 
        @apply --col-c-c;
        size: 100%;
    }
    &_screen {
        @apply --flx-c-c;
        position: absolute auto;
        margin: auto;
        size: 100% 700px;
        background: var(--pureWhite);
    }
    &_load { width: 50% }
    &_sprite { 
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        size: 100%;
        margin: auto;
    }
    
    &_holder {
        @apply --flx;
        background: var();
        size: 100% 700px;
        margin: * * 10px;
        border: 0 0 1px /solid/ var(--pureBlack);
        background: #d8d8de;
    }
    &_slider {
        @apply --flx-e-c;
        padding: 10px * 60px;
        width: 100%;
        button{
            background: var(--primeBackground);
            box-shadow: var(--pureBlack) 0 2px 3px 0px;
            size: 80px 60px;
            border-radius: 5px;
            overflow: hidden;
            img {
                width: 100px;
            }
            &:focus {
                mix-blend-mode: difference;
            }
        }
    }
    @media (--ipad-l) {
        size: auto 600px;
        &_holder img {
            size: auto 100%;
            margin: 0;
            padding: * * 50px;
        }
    }
}
