@import '../../../../styles/settings.css';
@import '../../../../styles/generics.css';
@import '../../../../styles/tools.css';

.pictures {
    @apply --col--e;
    width: 50%;
    z-index:5;
    &_screen {
        @apply --flx-c-c;
        position: absolute auto;
        margin: auto;
        size: 100% 700px;
        background: var(--pureWhite);
    }
    &_load { width: 50% }
    &_holder {
        @apply --flx;
        overflow-x: scroll;
        size: 100% 800px;
        margin: * * 10px;
        border: 0 0 1px /solid/ var(--pureBlack);
        background: var(--pureWhite);
        img {
            size: initial 500px;
            margin: auto;
        }
    }
    &_slider {
        @apply --flx-e-c;
        padding: 10px * 60px;
        width: 100%;
        button{
            size: 80px 60px;
            border-radius: 5px;
            overflow: hidden;
            img {
                width: 100px;
            }
        }
    }
    @media (--ipad-l) {
        size: auto 600px;
        &_holder img {
            size: auto 100%;
            margin: 0;
            padding: * * 50px;
        }
    }
}

.img-off {box-shadow: var(--pureBlack) 0 2px 3px 0px;}
.img-on {box-shadow: var(--primeOrange) 0 3px 8px 1px;}