@import '../../../../sass/settings.scss';
@import '../../../../sass/generics.scss';
@import '../../../../sass/tools.scss';


.picture_holder {
    padding: 75px 50px 50px;
    span {
        background: $primeBackground;
        box-shadow: $pureBlack 0 2px 3px 0px;
        @include dimensions(500px, 500px, 0);
        overflow: hidden;
        margin-bottom: 10px;
        img {
            height: 500px;
            width: initial;
            margin-bottom: 0px;
        }
    }
}