@import './placement.scss';
@import './animations.scss';

.port_holder {
    margin: 0px 0 0;
    border-style: solid;
    border-color: #515151;
    border-width: 1px;
    padding: 60px 0;
    background: #000000a8;

    .switch_holder {
        height: 300px;
    }
}

.port_box {
    padding: 0;
    
}


.port_card {
    margin: 20px;

    @media(max-width: 1800px) {
        // /margin: 20px 0;
    }

    @media(max-width: 600px) {
        margin: 0 20px 100px;
    }
}


.button_holder {
    margin: 50px 0 0;
    button {
        margin: 10px;
        @include dimensions(100px, 50px, 0px);

        svg {
            @include dimensions(50px, 50px, 0px);
            .cls-1{
                fill: $primePink;
            }
        }
        &:hover {
            svg .cls-1{
                fill: $primeOrange;
                box-shadow: $primeOrange 0px 1px 10px 0px;          
            }
        }
        &:nth-child(1) {
            svg {
                transform: rotate(90deg)
            }
        }
        &:last-child {
            svg {
                transform: rotate(-90deg)
            }
        }
    }

    input {
        @include dimensions(20px, 20px, 10px);
        margin: 0px 5px;
        color: transparent;
        &:hover {
            background: $primeOrange;
        }
    }
    .inp-off {background: $primePurple}
    .inp-on {background: $primePink}
}
