@import '../styles/settings.css';
@import '../styles/tools.css';
@import '../styles/generics.css';


.portfolio {
    //: var(--primeBackground);
    //box-shadow:var(--primePurple) 0 -4px 35px 6px;
    &_holder {
        padding: 0px * 0px;
    }
    &_github {
        padding: 100px *;
    }
    &_code {
        margin: * * 100px;
    }
}