@import '../sass/tools.scss';
@import '../sass/settings.scss';


.port_holders {
    //margin: 20px 0;
    //height: 100%;
    @include border($borderGrey, 1px);
    justify-content: center;
    
	img {
        width: 700px;
        margin-bottom: 40px;
    }

    padding: 100px 400px;
    @media(max-width: 1650px) {
        padding: 100px 250px;
    }
    @media(max-width: 1350px) {
        padding: 100px 150px;
    }
    @media(max-width: 1150px) {
        padding: 100px 100px;
        //margin: 0;
    }
    @media(max-width: 1000px) {
        padding: 100px 75px;
        img {
            width: 500px;
        }
    }
    @media(max-width: 600px){
        @include border($borderGrey, 1px 0 1px);
        padding: 60px 20px;
        img {
            width: 300px;
        }
    }
}