@import '../../sass/generics.scss';
@import '../../sass/settings.scss';
@import '../../sass/tools.scss';

.prime_button {
    cursor: pointer;
    @include dimensions(250px, 75px, 5px);
    @include fontSettings($primeBack, 36px, 400, 1);
    @include border($primeBack, 2px);

    &:hover {
        background: $primeOrange;
    }
}

.h1 {
    @include fontSettings($primeBack, 56px, 400, 1);
    margin-bottom: 20px;
}

.h2 {
    @include fontSettings('inherit', 40px, 300, 1);
    margin: 20px 0;
}

.h3 {
    @include fontSettings('inherit', 32px, 300, 1);
}

.li {
    a {
        @include fontSettings($pureWhite, 32px, 300, 1)
    }
}
