@import '../../sass/settings.scss';
@import '../../sass/generics.scss';
@import '../../sass/tools.scss';


.info_holder {
    @include dimensions(100%, 100%, 0);
    padding: 100px 200px;
    z-index: 5;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;

    .port_info {
        @include dimensions(100%, 100%, 5px);
        background: $pureWhite;
        .info {
            @include dimensions(50%, 100%, 0);
            padding: 50px;
            .line {
                @include border($slateFoil, 1px 0 0 0);
                margin: 20px 0;
            }
            h2 {
                @include fontSettings($slateFoil, 42px, 300, 1);
            }
        }
    }
}