.holders {
    @include border($borderLight, 1px 0px 0px 0px);
    background: $primeBackOpac;
    justify-content: center;
    
	img {
        width: 700px;
        margin-bottom: 40px;
    }

    padding: 100px 400px;
    @media(max-width: 1650px) {
        padding: 100px 250px;
    }
    @media(max-width: 1350px) {
        padding: 100px 150px;
    }
    @media(max-width: 1150px) {
        padding: 100px 100px;
        @include border($borderLight, 1px 1px 0px 1px);
        //margin: 0;
    }
    @media(max-width: 1000px) {
        border-color: $borderGrey;
        padding: 100px 75px;
        img {
            width: 500px;
        }
    }
    @media(max-width: 600px){
        padding: 50px 20px;
        img {
            width: 300px;
        }
    }
}

section {
    @include border($borderLight, 0 0 1px 0);
    @media(max-width: 1000px) {
        border-color: $borderGrey;
    }
}
