$primePurple: #6100ff;
$halfPurple: #6200ff8c;
$primePink: #ff2643;
$primeOrange: #fb965e;
$cherrySoda:  #9f0000;
$clearBack: #ffffff57;
$adobePS: #00c8ff;
$adobeID: #ff3f94;
$reactJS: #ffca28;
$offWhite: #f8f5ff;
$whiteBack: #ccc9d3;
$borderGrey: #6100ff;
$primeBack: #051323;
$primeGrey: #051323;
$pureBlack: #000000;
$pureWhite: #ffffff;

$bkColor: #ffffff;//radial-gradient(circle, rgba(255,100,0,0.604079131652661) 0%, rgba(190,0,255,0.38279061624649857) 100%);
$conColor: #595959;

:export { bkColor: $bkColor; }
:export { conColor: $conColor; }


:export { primePurple: $primePurple; }
:export { primePink: $primePink; }
:export { primeOrange: $primeOrange; }
:export { primeBack: $primeBack; }
:export { pureWhite: $pureWhite; }
:export { offWhite: $offWhite; }
:export { borderGrey: $borderGrey; }
:export { adobePS: $adobePS; }
:export { adobeID: $adobeID; }
:export { reactJS: $reactJS; }