$primePurple: #6100ff;
$halfPurple: #6200ff8c;
$primePink: #ff2643;
$primeOrange: #fb965e;
$cherrySoda:  #9f0000;
$clearBack: #ffffff57;
$adobePS: #00c8ff;
$adobeID: #ff3f94;
$reactJS: #ffca28;
$offWhite: #f8f5ff;
$whiteBack: #ccc9d3;
$borderGrey: #36363a;
$slateFoil: #2c3038;
$primeBack: #051323;
$primeGrey: #051323;
$pureBlack: #000000;
$pureWhite: #ffffff;
$navColor: #111114;
$primeBackground: #17171c;
$primeBackOpac: #17171ca4;
$offBack: #101013;
//$primeBackground: #252530;

$gradientColor: linear-gradient(306deg, rgba(97,0,255,1) 0%, rgba(255,38,67,1) 100%);
$linearFade : linear-gradient(0deg, rgba(97,0,255,1) 15%, rgba(97,0,255,0) 100%);

$bkColor: #ffffff;//radial-gradient(circle, rgba(255,100,0,0.604079131652661) 0%, rgba(190,0,255,0.38279061624649857) 100%);
$conColor: #ffffff;

:export { bkColor: $bkColor; }
:export { conColor: $conColor; }
:export { offBack: $offBack; }
:export { primeBackOpac: $primeBackOpac; }
:export { gradientColor: $gradientColor; }
:export { primeBackground: $primeBackground; }


:export { primePurple: $primePurple; }
:export { primePink: $primePink; }
:export { primeOrange: $primeOrange; }
:export { primeBack: $primeBack; }
:export { pureWhite: $pureWhite; }
:export { pureBlack: $pureBlack; }
:export { offWhite: $offWhite; }
:export { borderGrey: $borderGrey; }
:export { adobePS: $adobePS; }
:export { adobeID: $adobeID; }
:export { reactJS: $reactJS; }