$primePurple: #6100ff;
$halfPurple: #6200ff8c;
$primePink: #ff2643;
$primeOrange: #fb965e;
$cherrySoda:  #9f0000;
$clearBack: #ffffff57;
$adobePS: #00c8ff;
$adobeID: #ff3f94;
$reactJS: #ffca28;
$offWhite: #f8f5ff;
$primeBack: #051323;
$pureBlack: #000000;
$pureWhite: #ffffff;


:export { primePurple: $primePurple; }
:export { primePink: $primePink; }
:export { primeOrange: $primeOrange; }
:export { offWhite: $offWhite; }
:export { adobePS: $adobePS; }
:export { adobeID: $adobeID; }
:export { reactJS: $reactJS; }