@import '../../sass/tools.scss';
@import '../../sass/settings.scss';
@import '../../sass/generics.scss';


.prints {
    //@include border($borderGrey, 0px 1px 0);
    //background: #000000a8;

    li{
        margin: 5px 0;
        width: 100%;
        text-align: center; 
    }

    @media(max-width: 600px) {
        @include border($borderGrey, 0px 1px 0);
        background: none;
        border-style: none;
        padding: 0 20px;
        h1 {
           // margin: 50px 0 30px;
        }
    }
}