@import '../../styles/tools.css';
@import '../../styles/settings.css';
@import '../../styles/generics.css';


.prints {
    @apply --col;
    z-index: 3;

    li{
        margin: 5px 0;
        width: 100%;
        text-align: center; 
    }
}
