li, a, div, button, ul, span, section, p, h1, h2, h3, h4{
    box-sizing: border-box;
}


li{
    list-style: none;
    cursor: pointer;
}

button{
    z-index: 3;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

ul{ 
    padding: 0;
}
