@mixin canvasPos() {

}


#canvas {

    span {
        position: absolute;
        top: 275px;
        width:100%;
        text-align: center;
        left: 0;
        padding: 20px;
        right: 0;
        margin: 0 auto;
        z-index: 3;
        h1 {
            line-height: 1.25;
            font-size: 28px;
            font-weight: 300;
            margin: 5px 0;
    
            &:nth-child(1) {
                color: #ffffff;
            }
            &:nth-child(2) {
                color: #ff2643;
            }
        }
    }

    svg {
        position: absolute;
    }

    #Logo {
        width: 750px;
        top: 30px;
        //left: 115px;
        //top: 250px;
        //left: 300px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .dragon {
        width: 80%;
        //opacity: 0.13;
        top: 300px;
        left: 300px;
        z-index: 1;
    }
    @media (max-width: 1650px) {
        #Logo {
            width: 565px;
            top: 95px;
            //top: 250px;
            //left: 250px;
        }
    }
    @media (max-width: 1350px) {
        #Logo {
            
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    @media (max-width: 600px) {
        #Logo {
            top: 90px;
            width: 365px;
        }

        .dragon {
            //opacity: '0.25';
            top: 250px;
            left: -100px;
            width: 500px;
        }
    }
}

