@import './gears.scss';


.grid_line {
    @include dimensions (100%, 100%, 0);
    padding: 0 400px;
    top:0;
    
    span{
        @include border($borderGrey, 0 1px);
        @include dimensions (25%, 100%, 0);
        position: absolute;
    }
}