@import '../../sass/tools.scss';
@import '../../sass/settings.scss';
@import '../../sass/generics.scss';

.featured {
    padding: 0px 300px 0px;
    background: $bkColor;
    //left: 0;
    //margin: 10px auto 20px;
    width: 100%;
    background: none;


    .featured_holder {
        justify-content: space-between;
        //margin: 20px 0 30px;
    }

    .featured_cards {
        &:nth-child(1){
            img {  
                @include placement(600px, -60px, -150px)
                }
            }
        &:nth-child(2){
            img {
                @include placement(395px, -40px, -25px)
            }
        }
        &:nth-child(3){
            img{
                @include placement(395px, 0, 0)
            }
        }
    }
    
    @media(max-width: 1650px) {
        padding: 0px 250px 0px;
    }
    @media(max-width: 1350px) {
        padding: 0px 150px;
    }
    @media(max-width: 1150px) {
        padding: 0 100px;
    }
    @media(max-width: 1000px) {
        padding: 0 75px;
        .featured_holder{flex-wrap: wrap}

        .featured_cards {
            &:nth-child(1){
                img {  
                    @include placement(650px, -50px, 0px)
                    }
                }
            &:nth-child(2){
                img {
                    @include placement(800px, -76px, -47px)
                }
            }
            &:nth-child(3){
                img{
                    @include placement(622px, 0, 0)
                }
            }
        }
    }
    @media(max-width: 700px){
        .featured_holder {
            //padding: 50px 25px;
            justify-content: center;
        }
    }
    @media(max-width: 600px){
        padding: 20px 20px;
        .featured_holder {
            margin: 0px;
        }
    }
}
