@import '../../sass/tools.scss';
@import '../../sass/settings.scss';
@import '../../sass/generics.scss';

.featured {
    padding: 100px 350px 25px;
    background: $bkColor;
    //left: 0;
    margin: 10px auto 20px;
    width: 100%;
    background: none;

    .featured_holder {
        justify-content: space-between;
        margin: 20px 0 30px;
    }

    .featured_cards {
        &:nth-child(1){
            img {  
                @include placement(600px, -60px, -150px)
                }
            }
        &:nth-child(2){
            img {
                @include placement(395px, -40px, -25px)
            }
        }
        &:nth-child(3){
            img{
                @include placement(395px, 0, 0)
            }
        }
    }
    
    @media(max-width: 1650px) {
        padding: 100px 250px 25px;
    }
    @media(max-width: 1350px) {
        padding: 75px 150px;
    }
    @media(max-width: 1150px) {
        padding: 75px 100px;
    }
    @media(max-width: 1000px) {
        padding: 75px 75px;
        flex-wrap: wrap;

        .featured_cards{
            &:nth-child(3){
                margin: 20px auto;
            }
        }
    }
    @media(max-width: 700px){
        .featured_holder {
            padding: 50px 25px;
            justify-content: center;
        }
    }
}
