@import '../../sass/tools.scss';
@import '../../sass/settings.scss';
@import '../../sass/generics.scss';

.featured {
    //@include border($borderGrey, 0px 1px 0);
    //background: #000000a8;
    width: 100%;

    .featured_holder {
        justify-content: space-between;
        padding: 0 0 40px;
    }

    @media(max-width: 1000px) {
        .featured_holder{flex-wrap: wrap}
    }
    @media(max-width: 700px){
        .featured_holder {
            justify-content: center;
        }
    }
    @media(max-width: 600px){
        padding: 20px 20px;
        .featured_holder {
            margin: 0px;
        }
    }
}
