@import './Apps/sass/tools.scss';
@import './Apps/sass/settings.scss';


.inp_hold {
    height: 52px;
    margin: 20px 0;

    label {
        @include fontSettings($pureWhite, 32px, 600, 1);
        width: 125px;
        height: 52px;
        @include border($pureWhite, 0 0 3px 0);
    }
    input {
        width: 77%;
        height: 52px;
        padding: 0 10px 0 25px;
        @include fontSettings($pureWhite, 24px, 300, 1);
        @include border($pureWhite, 0 0 3px 0);
        float: right;

        &:focus {
            @include border($primeOrange, 0 0 3px 0);
            color: $primeOrange;

            ~label {
                @include border($primeOrange, 0 0 3px 0);
                //color: $primeOrange;
            }
        }
    }
}


.text_hold {
    height: 300px;
    margin: 20px 0;

    label {
        @include fontSettings($pureWhite, 32px, 600, 1);
        width: 30%;
    }

    textarea {
        margin: 20px 0;
        padding: 25px;
        @include dimensions(100%, 300px, 10px);
        @include fontSettings($pureWhite, 20px, 300, 1.5);
        @include border($pureWhite, 3px 3px 3px 3px);

        &:focus {
            @include border($primeOrange, 3px);
            color: $primeOrange;
        }
    }
}
