@import '../../sass/settings.scss';
@import '../../sass/generics.scss';
@import '../../sass/tools.scss';


.lightbox {
    transition: all 0.35s linear;
    @include dimensions(100%, 100%, 0);
    background: #000000;
    z-index: 3;
    top: 0;
    left: 0;
}

.light-on {
    opacity: 0.75
}

.light-off {
    opacity: 0
}