@import '../../../sass/settings.scss';
@import '../../../sass/generics.scss';
@import '../../../sass/tools.scss';


.info_holder {
    @include dimensions(100%, 100%, 0);
    padding: 50px 200px;
    z-index: 5;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;

    .close {
        margin: 20px 20px;
        padding: 0;
        align-self: flex-start;
        
        svg{
            @include dimensions(25px, 25px, 0);
            transition: all 0.15s linear;
            fill: $slateFoil
        }

        &:hover {
            svg {
                fill: $primeOrange;      
            }
        }
    } 

    .port_info {
        background: $pureWhite;
        border-radius: 10px;
        box-shadow: 0 2px 14px -2px;
    }
}