@import '../../../styles/generics.css';
@import '../../../styles/settings.css';
@import '../../../styles/tools.css';

.button {
    @apply --flx-c-c;
    cursor: none;
    margin: 40px * *;
    z-index: 4;
    size: 200px;
    text-align:center;
    mix-blend-mode: difference;
    &_inner {
        @apply --flx-c-c;
        mix-blend-mode: difference;
        size: 190px;
        border-radius: 100%;
        background: var(--pureWhite);
        @mixin fontSettings var(--pureBlack), 36px, 600, 1;
    }
    &_arc {
        opacity: 0;
        transition: all 0.2s linear;
        animation: rotCircle 3s infinite linear;
        width: 200px;
        stroke: var(--pureWhite);
        position: absolute;

        circle{
            stroke-dasharray: 150,15,70,60,100,30;
            animation: rotOuter 6s infinite linear;
            fill: none;
            stroke-miterlimit: 10;
            stroke-width: 3px;
            transform-origin: 50% 50%;
        } 
    }
    &:hover svg { opacity: 1 } 
    

    @media(--ipad-l){
        size: 150px;
        font-size: 24px;
        margin: 20px * *;
        &_inner { size: 140px }
        &_arc { size: 150px }
    }
    @media(--mobile){
        font-size: 28px;
    }
}