@import '../../../sass/generics.scss';
@import '../../../sass/settings.scss';
@import '../../../sass/tools.scss';

.button_holder {
    width: 300px;
    margin: 20px auto 0;
    button {
        margin: 10px;
        @include dimensions(100px, 50px, 0px);

        svg {
            @include dimensions(50px, 50px, 0px);
            .cls-1{
                fill: $primePink;
                transition: all 0.15s linear;
            }
        }
        &:hover {
            svg .cls-1{
                fill: $primeOrange;
                box-shadow: $primeOrange 0px 1px 10px 0px;          
            }
        }
        &:nth-child(1) {
            svg {
                transform: rotate(90deg)
            }
        }
        &:last-child {
            svg {
                transform: rotate(-90deg)
            }
        }
    }

    input {
        @include dimensions(20px, 20px, 10px);
        transition: all 0.15s linear;
        margin: 0px 10px;
        color: transparent;
        &:hover {
            background: $primeOrange;
        }
    }
    .inp-off {background: $primePurple}
    .inp-on {background: $primePink}
}