@import '../../../sass/settings.scss';
@import '../../../sass/generics.scss';
@import '../../../sass/tools.scss';

.pc-off {
    transform: scale(1);
    box-shadow: $pureBlack 0 1px 10px 0px;
    .screen {
        height: 100%;
    }
    .inner_text{
        height: 100px;
    }
    h4, p {
        transition: all 0.15s linear;
        opacity: 0;
    }
    button svg {transform: rotate(0deg)}
}

.pc-on {
    transform: scale(1.025);
    box-shadow: $primeOrange 3px 1px 30px 0px;
    .screen {
        height: 25%;
    }
    .inner_text{
        height: 900px;
        @media (max-width: 600px){
            height: 1500px;
        }
    }
    h4, p {
        opacity: 1;
        transition: all 0.15s linear 0.4s;
    }
    button svg{transform: rotate(180deg)}
}

.info_off {
    transform: translateX(-100%);
}
.info_on {
    transform: translateX(0%);
}

